<!DOCTYPE html>
<html>

<head>
  <title>Stroke Mortality Predictor</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="testbox">
    <div class="container">
      <nav class="stroke">
        <ul>
          <li><a href="/">Stroke Mortality Predictor Home</a></li>
          <!-- <li><a href="#">Stats Analysis & Background Information</a></li>
          <li><a href="#">The Team</a></li>
          <li><a href="#">Credits and Citations</a></li> -->
        </ul>
      </nav>
      <div class="banner">
        <h1>Stroke Mortality Predictor</h1>
      </div>
      <h2 class="arrow">Enter any combination of health and social factor values below to predict effect on Stroke Mortality</h2>
      <div class="wrapper">
        <div class="column">
          <form action="{{ url_for('predict')}}" method="post">
            <div class="item">
              <label for="Percent_Smokers"><strong>Percent Smokers:</strong><span>*</span></label><br />
              <input id="Percent_Smokers" type="text" name="Percent_Smokers" placeholder="0-100" required /><label class="input_label">(U.S counties range: 7-43%): <a href="#percentsmokers" rel="stylesheet">Learn more</a></label>
            </div>
            <div class="item">
              <label for="Average_Daily_Air_Polution_Particle_Matter"><strong>Average Daily Air Pollution Particle Matter:</strong><span>*</span></label><br />
              <input id="Average_Daily_Air_Polution_Particle_Matter" type="text" name="Average_Daily_Air_Polution_Particle_Matter" placeholder="0-20" required /><label class="input_label">(U.S counties range: 4.2-15.4): <a href="#airpollution" rel="stylesheet">Learn more</a></label>
            </div>
            <div class="item">
              <label for="Food_Environment_Index"><strong>Food Environment Index:</strong><span>*</span></label><br />
              <input id="Food_Environment_Index" type="text" name="Food_Environment_Index" placeholder="0-10" required /><label class="input_label">(U.S counties range: 0-10): <a href="#foodenvironmentindex" rel="stylesheet">Learn more</a></label>
              </div>
            <div class="item">
              <label for="Percent_Unemployed"><strong>Percent Unemployed:</strong><span>*</span></label><br />
              <input id="Percent_Unemployed" type="text" name="Percent_Unemployed" placeholder="0-100" required /><label class="input_label">(U.S counties range: 1.7-23.5%): <a href="#percentunemployed" rel="stylesheet">Learn more</a></label>
            </div>
            <div class="item">
              <label for="Income_Inequality_Ratio"><strong>Income Inequality Ratio:</strong><span>*</span></label><br />
              <input id="Income_Inequality_Ratio" type="text" name="Income_Inequality_Ratio" placeholder="0-10" required /><label class="input_label">(U.S counties range: 2.7-8.9): <a href="#incomeinequalityratio" rel="stylesheet">Learn more</a></label>
            </div>
            <p>Required<span>*</span></p>
            <div class="btn-block">
              <button type="submit" href="/">Predict effect on stroke mortality</button>
            </div>
          </form>
        </div>
        <div class="column">
          <div class="prediction_output">
            <p class="output_text">Stroke Mortality per 100,000 people:</p>
            <p class="output_value">{{ prediction_text }}</p>
            {% for key, value in feature_dict.items() %}
              <ul>
                  <li class="key"> {{ key }}: </li>
                  <li class="value"> {{ value }} </li>
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
      <h2 class="arrow">Importances for Machine Learning Model:</h2>
      <div class="wrapper">
        <div class="column">
          <p>Time was spent looking at importances of the 13 health- and social-related features.  Once we determined that we would use the Random Forest Regressor, we observed the features that appeared to be the most important in predicting stroke mortality. It became clear quickly that with the exception of Percent Smokers, none of the other features stood out dramatically. This correlated to the unique and somewhat random features we used and ultimately the low impact for predicting stroke mortality. 
          </p>
          <img src="static/Importances_All_Features.png" alt="Importances of all features">
        </div>
      </div>
      <h2 class="arrow" id="strokemortality">Stroke Mortality rates by U.S. counties: <a href="https://catalog.data.gov/dataset/stroke-mortality-data-among-us-adults-35-by-state-territory-and-county-2017-2019-d738a" style="font-size: 14px; font-weight: 400;">Get details from Centers for Disease Control and Prevention (CDC)</a></h2>
      <div class="wrapper">
        <div class='tableauPlaceholder' id='viz1653767401517' style='position: relative; width: 96%; height: 600px;'><noscript><a href='#'><img
                alt='Stroke Mortality '
                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;StrokeMortality_16532640128710&#47;StrokeMortality&#47;1_rss.png'
                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='StrokeMortality_16532640128710&#47;StrokeMortality' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='no' />
            <param name='static_image'
              value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;StrokeMortality_16532640128710&#47;StrokeMortality&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
          </object>
        </div>
        <script
          type='text/javascript'>                    var divElement = document.getElementById('viz1653767401517'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
      </div>
      <h2 class="arrow">Factors that could correlate with Stroke Mortality rates</h2>
      <div class="wrapper">
        <div class="column">
          <p class="features" id="percentsmokers">Percent Smokers: <a href="https://www.countyhealthrankings.org/explore-health-rankings/measures-data-sources/county-health-rankings-model/health-factors/health-behaviors/tobacco-use" style="font-size: 14px; font-weight: 400;">Get details from County Health Rankings & Roadmaps</a></p>
          <div class='tableauPlaceholder' id='viz1653768500822' style='position: relative; width: 96%; height: 400px;'><noscript><a href='#'><img
                  alt='Percent Smokers '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pe&#47;PercentSmokers&#47;PercentSmokers&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='PercentSmokers&#47;PercentSmokers' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='no' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pe&#47;PercentSmokers&#47;PercentSmokers&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
            </object></div>
          <script
            type='text/javascript'>                    var divElement = document.getElementById('viz1653768500822'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
          </div>
        <div class="column">
          <p class="features" id="airpollution">Average Daily Air Polution Particle Matter: <a href="https://www.countyhealthrankings.org/explore-health-rankings/measures-data-sources/county-health-rankings-model/health-factors/physical-environment/air-water-quality/air-pollution-particulate-matter" style="font-size: 14px; font-weight: 400;">Get details from County Health Rankings & Roadmaps</a></p>
          <div class='tableauPlaceholder' id='viz1653769471121' style='position: relative; width: 96%; height: 400px;'><noscript><a href='#'><img
                  alt='Average Daily Air Polution Particle Matter '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Av&#47;AverageDailyAirPollutionParticleMatter&#47;AverageDailyAirPolutionParticleMatter&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='AverageDailyAirPollutionParticleMatter&#47;AverageDailyAirPolutionParticleMatter' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='no' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Av&#47;AverageDailyAirPollutionParticleMatter&#47;AverageDailyAirPolutionParticleMatter&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
            </object></div>
          <script
            type='text/javascript'>                    var divElement = document.getElementById('viz1653769471121'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
          </div>
        <div class="column">
          <p class="features" id="foodenvironmentindex">Food Environment Index: <a href="https://www.countyhealthrankings.org/explore-health-rankings/measures-data-sources/county-health-rankings-model/health-factors/health-behaviors/diet-exercise/food-environment-index" style="font-size: 14px; font-weight: 400;">Get details from County Health Rankings & Roadmaps</a></p>
          <div class='tableauPlaceholder' id='viz1653770045224' style='position: relative; width: 96%; height: 400px;'><noscript><a href='#'><img
                  alt='Food Environment Index '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fo&#47;FoodEnvironmentIndex&#47;FoodEnvironmentIndex&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='FoodEnvironmentIndex&#47;FoodEnvironmentIndex' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='no' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fo&#47;FoodEnvironmentIndex&#47;FoodEnvironmentIndex&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
            </object></div>
          <script
            type='text/javascript'>                    var divElement = document.getElementById('viz1653770045224'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
          </div>
        <div class="column">
          <p class="features" id="percentunemployed">Percent Unemployed: <a href="https://www.countyhealthrankings.org/explore-health-rankings/measures-data-sources/county-health-rankings-model/health-factors/social-and-economic-factors/employment/unemployment" style="font-size: 14px; font-weight: 400;">Get details from County Health Rankings & Roadmaps</a></p> 
          <div class='tableauPlaceholder' id='viz1653769649767' style='position: relative; width: 96%; height: 400px;'><noscript><a href='#'><img
                  alt='Percent Unemployed '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pe&#47;PercentUnemployed&#47;PercentUnemployed&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='PercentUnemployed&#47;PercentUnemployed' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='no' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pe&#47;PercentUnemployed&#47;PercentUnemployed&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
            </object></div>
          <script
            type='text/javascript'>                    var divElement = document.getElementById('viz1653769649767'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
          </div>
        <div class="column">
          <p class="features" id="incomeinequalityratio">Income Inequality Ratio: <a href="https://www.countyhealthrankings.org/explore-health-rankings/measures-data-sources/county-health-rankings-model/health-factors/social-and-economic-factors/income/income-inequality" style="font-size: 14px; font-weight: 400;">Get details from County Health Rankings & Roadmaps</a></p>
          <div class='tableauPlaceholder' id='viz1653769707062' style='position: relative; width: 96%; height: 400px;'><noscript><a href='#'><img
                  alt='Income Inequality Ratio '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;IncomeInequalityRatio&#47;IncomeInequalityRatio&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='IncomeInequalityRatio&#47;IncomeInequalityRatio' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='no' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;IncomeInequalityRatio&#47;IncomeInequalityRatio&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
            </object></div>
          <script
            type='text/javascript'>                    var divElement = document.getElementById('viz1653769707062'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
          </div>
      </div>
    </div>
  </div>
</body>

</html>